body {

}
#bingo table {
    width: 95vmin;
    height: 95vmin;
}
table#panel {
    width: 95vmin;
}
table#panel td {
    padding-right: 10px;
}
#bingo td {
    height: 19%;
    width: 19%;
    border: 1px solid;
    text-align: center;
    font-size: 5vw;
    cursor: pointer;
}
td.on {
    background-color: #d3e6ff;
}
body.player td.best-choice,
body.player #status {
    background-color: #cdffd0;
}

body.habby td.best-choice,
body.habby #status {
    background-color: #fffccb;
}

@media (min-width: 700px) {
    #bingo td {
      font-size: 35px;
    }
}

